@import "./base.css";

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 3rem 1rem 3rem;
  width: 100%;
}

.menu {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro {
  padding: 5rem 10rem 0 10rem;
}

.intro > h1 {
  text-align: center;
}

.intro > p {
  text-align: justify;
}

.podcast {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.podcast > h1 {
  text-align: center;
}

.podcast > div > img {
  width: 60%;
}

audio {
  width: 60%;
}

span,
h1 {
  text-align: center;
}

.profil > div > img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

.profil > div > div > img {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

.profil{
  margin-top: 7rem;
}

.inter1{
  padding: 0 10rem 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interX{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem 5rem 5rem;
}

.inter2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: justify;
} 

.inter{
  width: 200px;
}

.inter3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
} 

.production{
  padding: 0 7rem 5rem 5rem;
}

@media (max-width: 1000px) {
  .menu {
    width: 60%;
  }

  .podcast > div > img {
    width: 70%;
  }

  audio {
    width: 70%;
  }

  .interX{
    display: inline;
    padding: 0 2rem 0 2rem;
  }

  .inter1{
    padding: 0 2rem 3rem 2rem;
  }

  .inter2{
    padding: 0 2rem 3rem 2rem;
  }

  .inter3{
    padding: 0 2rem 3rem 2rem;
  }
}

@media (max-width: 720px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    margin-top: 2rem;
    width: 100%;
  }

  .intro {
    padding: 4rem;
  }

  .podcast > div > img {
    width: 90%;
  }

  audio {
    width: 90%;
  }
}
